body{
    background-color: #444;
    color:#fff;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-weight: 300;
    font-size: 1.3rem;
}

h1,h2 {
    font-weight: 300;  
}